
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Toastr
@import "~toastr/build/toastr.min.css";

@import "filemanagement";

.loader-holder {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(48, 151, 209, 0.3);
    z-index: 10000;

    .loader {
    	position: relative;
	    margin-top: 20%;
	    text-align: center;
    }
}